<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>

<h1>New Sports Item</h1>

<form action="#" method = 'post'>


    <p>Name:</p>
        <input type ='text' size='30' name='name'>
    <p>Description:</p>
        <input type ='text' size='30' name='description'>
    <p>Sport:</p>
        <input type ='radio'  name='sport' value ='Futbol'>Futbol</br>
        <input type ='radio'  name='sport' value ='Basketball'>Basketball</br>
        <input type ='radio'  name='sport' value ='Baseball'>Baseball</br>
        <input type ='radio'  name='sport' value ='Frisbee'>Frisbee</br>
        <input type ='radio'  name='sport' value ='Snowboarding'>Snowboarding</br>
        <input type ='radio'  name='sport' value ='Rock Climbing'>Rock Climbing</br>
        <input type ='radio'  name='sport' value ='Foosball'>Foosball</br>
        <input type ='radio'  name='sport' value ='Skating'>Skating</br>
        <input type ='radio'  name='sport' value ='Hockey'>Hockey</br>
    </br>


<input type='submit' value='Create'>

</form>

</body>
</html>